@media screen and (max-width: 1000px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }
  .left-col {
    width: 100%;
    text-align: center;
  }
	.header-kanan i{
		display: none;
	}
}

@media screen and (max-width: 760px) {
	.col-4 {
		width: 50%;
	}

	 /* footer */
	.left-col {
		margin-top: 15px;
	}
	.button {
    		margin: 0;
    		width: 100%;
    		margin-top: 2px;
	}
	.header-kanan a{
		display: none;
	}
	.header-kanan i{
		display: block;
	}
	.facebook {
    margin-bottom: 10px;
  }
  .twitter {
    margin-bottom: 10px;
  }
  .instagram {
    margin-bottom: 10px;
  }
}

