* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    font-family: "American Typewriter";
  }
  a {
    text-decoration: none;
  }
  .container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .konten .atas {
    padding: 180px 0 160px 0;
    background-image: url(../gambar/cool-background.png);
    background-size: cover;
    color: white;
    text-align: center;
  }
  .konten .atas h1{
    opacity: 0.75;
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-family: "Lucida Handwriting";
    text-align: left;
  }
  .konten .atas h2{
    font-size: 18px;
    opacity: 0.75;
    text-align: center;
    margin-bottom: 15px;
  }
  .tombol-daftar a{
      text-align: center;
      color: #fff;
  }
  .tombol-daftar {
    padding: 15px 40px;
    color: white;
    display: inline-block;
    opacity: 0.7;
    border-radius: 4px;
    text-align: center;
    background-color: #4a69bd;
    cursor: pointer;
    box-shadow: 0 7px #1e3799;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .tombol-daftar:active{
    position: relative;
    top: 7px;
    box-shadow: none;
    opacity: 1;
  }
  .bawah {
    background-color: #dfe4ea;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .bawah .container .heading h2 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    opacity: 0.7;
  }
  header {
    font-family: "Lucida Sans";
    height: 40px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  .header-kiri {
    float: left;
  }
  .header-kiri p{
    color: white;
    line-height: 40px;
    font-size: 20px;
  }
  .header-kanan {
  float: right;
  margin-right: -25px;
  }
  
   .header-kanan a
  {
    float: left;
    line-height: 40px;
    padding: 0 25px;
    color: white;
    display: block;
    transition: all 0.5s;
  }
    .header-kanan a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
    .header-kanan i{
        color: #ffffff;
        float: right;
        font-size: 20px;
        padding: 10px 0;
 }
 .anggota {
    float: left;
    width: 25%;
  }
  .anggota img{
    height: 65px;
    width: 65px;
  }
  .anggotas {
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  .btn:hover {
    opacity: 1;
  }
  .fa {
    margin-right: 5px;
  }
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  .twitter {
    background-color: #55acee;
    margin-right: 10px;
  }
  .instagram{
  	background-color: #FF00FF;
  	margin-right: 10px;
  }
  .youtube{
  	background-color: #FF0000;
  }

section h3 {
  padding-bottom: 30px;
  text-align: center;
  margin: 20px;
  position: relative;
  font-size: 40px;
}
section h3::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 120px;
  height: 1px;
  background-color: #ddd;
  left: calc(50% - 60px);
}
section h3::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 4px;
  background-color: #F84744;
  left: calc(50% - 20px);
}
#about p {
  font-size: 16px;
  text-align: justify;
  text-indent: 40px;
  line-height: 25px;
  margin-bottom: 15px;
  padding-bottom: 25px;
}
#contact {
  text-align: center;
}
.col-4 {
  width: 25%;
  box-sizing: border-box;
  padding: 35px;
  float: left;
  text-align: center;
}
.col-4 img {
  width: 100%;
}
.col-4 a:hover img {
  transform: scale(1.2);
}
iframe {
  padding-bottom: 40px;
}
.peta {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.col-3 {
  width: 33.33%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  padding: 50px 10px;
}
.col-3 h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

/* Footer */

footer {
  background-color: #2c2c2c;
  padding: 30px 0;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.left-col h2 {
  font-size: 30px;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: #fff;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover {
  color: #2196f3;
}

.right-text {
  color: #888;
}

.right-col h1 {
  font-size: 26px
  color: #ffff00;
}

.border {
  width: 100px;
  height: 4px;
  margin: 10px 0;
  background: #fc5c65;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb {
  flex: 1;
  margin-top: 10px;
  padding: 18px 40px;
  font-size: 16px;
  color: #fff;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.button {
  padding: 18px 40px;
  font-size: 16px;
  color: #fff;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity .3s linear;
  margin-left: 5px;
}

.button:hover {
  opacity: : .7;
}
