* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "American Typewriter";
  }
  
  a {
    text-decoration: none;
  }

  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .konten .atas {
    padding: 180px 0 160px 0;
    background-image: url(cool-background.png);
    background-size: cover;
    color: white;
    text-align: center;
  }
  .konten .atas h1{
    opacity: 0.75;
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-family: "Lucida Handwriting";
    text-align: left;
  }
  .konten .atas h3{
    font-size: 20px;
    opacity: 0.75;
    text-align: center;
    margin-bottom: 15px;
  }
  .tombol-daftar a{
      text-align: center;
  }
  .tombol-daftar {
    padding: 15px 40px;
    color: white;
    display: inline-block;
    opacity: 0.7;
    border-radius: 4px;
    text-align: center;
    background-color: #4a69bd;
    cursor: pointer;
    box-shadow: 0 7px #1e3799;
    margin-top: 10px;
  }
  .tombol-daftar:active{
    position: relative;
    top: 7px;
    box-shadow: none;
    opacity: 1;
  }
  
  .konten .bawah .heading h2{
      text-align: center;
      padding-top: 10px;
      opacity: 0.7;
  }

  header {
    font-family: "Ludica Sans";
    height: 40px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  .header-kiri {
    float: left;
  }

  .header-kiri p{
    color: white;
    line-height: 40px;
    font-size: 20px;
  }
  
 .konten .bawah {
     background-color: #dfe4ea;
     text-align: center;
     padding-bottom: 80px;
     padding-left: 5%;
     padding-right: 5%;
 }

 .anggota {
    float: left;
    width: 25%;
    
  }
  .anggota img{
    height: 65px;
    width: 65px;
  }